:root {
  --primary: #212337;
  --white: #f9f9f9;
  --accent: #01C061;

  --text-primary: black;

  --primary-light: hsl(from var(--primary) h s calc(l + 5));
  --primary-dark: hsl(from var(--primary) h s calc(l  - 4));
  --primary-light-dark: hsl(from var(--primary) h s calc(l - 2));
  --primary-hover: hsla(from var(--primary) h s l / 0.9);

  --content-width: 1600px;

  background-color: var(--primary);
  color: var(--white);

  font-family: "Arima" ,system-ui;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 16px;
}

body {
  all: unset;
  min-height: 100dvh;
}

a {
  text-decoration: none;
}
