.main-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    border-radius: 1rem;
    background: var(--glass);
    backdrop-filter: var(--blur);
    -webkit-backdrop-filter: var(--blur);
    box-shadow: var(--shadow);
    transition: var(--transition);
    width: 100%;
}

.main-navbar a {
    position: relative;
    text-decoration: none;
    color: var(--text);
    margin: 0 1.2rem;
    font-size: 1.3rem;
    font-weight: 600;
    padding: 0.7rem 0;
    transition: var(--transition);
}

.main-navbar a:hover {
    color: var(--secondary);
}

.main-navbar a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: var(--secondary);
    transition: width 0.3s ease;
}

.main-navbar a:hover::after {
    width: 100%;
}

.main-navbar .active {
    color: var(--secondary);
    font-weight: bold;
}

.main-navbar .active::after {
    width: 100%;
}
