:root {
  --primary: #1a1a2e;
  --secondary: #e94560;
  --background: #f0f0f0;
  --text: #16213e;
  --muted: #9a9a9a;
  --glass: rgba(255, 255, 255, 0.2);
  --font-family: 'Poppins', sans-serif;
  --transition: all 0.3s ease;
  --shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  --blur: blur(10px);
  --success: #27ae60;
  --danger: #c0392b;
}

body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  font-family: var(--font-family);
  transition: var(--transition);
}

body.light-mode {
  --primary: #0b132b;
  --secondary: #ff4c60;
  --background: #f9fafb;
  --text: #111827;
  --muted: #6b7280;
  --glass: rgba(255, 255, 255, 0.4);
  --font-family: 'Poppins', sans-serif;
  --transition: all 0.3s ease;
  --shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  --blur: blur(10px);

  background: repeating-linear-gradient(135deg, #f0f4f8, #f0f4f8 100px, #dbeafe 500px, #dbeafe 200px);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: repeat;
  color: var(--text);
}

body.dark-mode {
  --primary: #f1f5f9;
  --secondary: #ff6b81;
  --background: #121212;
  --text: #f8fafc;
  --muted: #9ca3af;
  --glass: rgba(255, 255, 255, 0.05);
  --shadow: 0 4px 30px rgba(255, 255, 255, 0.05);
  --blur: blur(12px);

  background: repeating-linear-gradient(135deg, #1e293b, #1e293b 100px, #334155 500px, #334155 200px);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: repeat;
}


@media (prefers-color-scheme: dark) {
  :root {
    --primary: #1a1a2e;
    --secondary: #e94560;
    --background: #f0f0f0;
    --text: #16213e;
    --muted: #9a9a9a;
    --glass: rgba(255, 255, 255, 0.2);
    --font-family: 'Poppins', sans-serif;
    --transition: all 0.3s ease;
    --shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    --blur: blur(10px);
  }
}